.container {
    margin-bottom: var(--spacing-lg);
}

mat-grid-list {
    margin-bottom: var(--spacing-lg);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
}

.amenities,
.workspaces {
    margin-top: var(--spacing-xl);
}

.workspace-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        /* stack cards on mobile */
        gap: var(--spacing-sm);
    }
}

.btn-group {
    @extend .btn-group;

    @media(max-width: 768px) {
        margin-top: 0;
    }

    margin-bottom: var(--spacing-md);
}