<div class="container" *ngIf="coworking$ | async as coworking">

    <div class="btn-group end">
        <button mat-flat-button color="primary" [routerLink]="['/coworkings']">
            Back to Coworkings List
        </button>
    </div>

    <div class="page-header">
        <h1>{{ coworking.name }}</h1>
        <p>{{ coworking.address }}</p>
    </div>

    <mat-grid-list cols="1" rowHeight="200px" gutterSize="16px">
        <mat-grid-tile *ngFor="let url of coworking.photoUrls">
            <img mat-card-image [src]="url" />
        </mat-grid-tile>
    </mat-grid-list>

    <section class="workspaces">
        <h2>Workspaces</h2>
        <div class="workspace-list">
            <app-workspace-card *ngFor="let workspace of coworking.workspaceTypes" [workspace]="workspace"
                [amenities]="coworking.amenities" (bookNow)="onBookNow(workspace)">
            </app-workspace-card>
        </div>
    </section>
</div>