 h2 {
     font-size: var(--font-size-xl);
     margin-bottom: var(--spacing-lg);
 }

 .error-message {
     margin-top: var(--spacing-md);
 }

 .page-header {
     @extend .page-header;
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     
 }

  