<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-content">
        <div class="logo-section">
            <mat-icon class="logo-icon">business</mat-icon>
            <span class="logo-text">CoworkSpace</span>
        </div>
        <div class="booking-count">
            Total bookings: {{ bookingsCount$ | async }}
        </div>
    </div>

    <nav class="nav-links">
        <a mat-button routerLink="/coworkings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}"
            (click)="closeMobileMenu()">
            Coworkings
        </a>
        <a mat-button routerLink="/coworking/2" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: false}" (click)="closeMobileMenu()">
            Coworking 2
        </a>
        <a mat-button routerLink="/coworking/1" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: false }">
            <mat-icon>location_city</mat-icon>
            Browse Spaces
        </a>

        <a mat-button routerLink="/my-bookings" routerLinkActive="active-link">
            <mat-icon>event</mat-icon>
            My Bookings
        </a>
    </nav>
    <div class="mobile-nav">
        <button mat-icon-button (click)="toggleMobileMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>


    <div class="mobile-menu" [class.open]="isMobileMenuOpen">
        <a mat-button routerLink="/coworkings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}"
            (click)="closeMobileMenu()">
            Coworkings
        </a>
        <a mat-button routerLink="/coworking/2" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: false}" (click)="closeMobileMenu()">
            Coworking 2
        </a>

        <a mat-button routerLink="/coworking/1" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: false}" (click)="closeMobileMenu()">
            <mat-icon>location_city</mat-icon>
            Browse Spaces
        </a>

        <a mat-button routerLink="/my-bookings" routerLinkActive="active-link" (click)="closeMobileMenu()">
            <mat-icon>event</mat-icon>
            My Bookings
        </a>
    </div>
</mat-toolbar>