<mat-card class="workspace-card">
    <div class="workspace-aside">
        <div class="workspace-type-icon">
            <mat-icon [fontIcon]="getWorkspaceType_Icon(workspace.type)"></mat-icon>
        </div>
    </div>
    <div class="workspace-info">
        <mat-card-header>
            <mat-card-title class="workspace-title">{{ getWorkspaceTitleByType(workspace.type) }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="workspace-details">
            <div class="workspace-stats">
                <div class="stat">
                    <span class="stat-label">Available:</span>
                    <span class="stat-value" [class.no-availability]="getAvailableCount() === 0">
                        {{ getAvailableCount() }}
                    </span>
                </div>
                <div class="stat">
                    <span class="stat-label">Capacity Options:</span>
                    <span class="stat-value">{{ getCapacityOptions() }}</span>
                </div>
            </div>
            <div class="workspace-amenities">
                <app-amenities-list [amenities]="amenities"></app-amenities-list>
            </div>
        </mat-card-content>

        <mat-card-actions class="workspace-actions">
            <button mat-flat-button color="primary" [disabled]="getAvailableCount() === 0" (click)="onBookNow()">
                Book Now
            </button>
        </mat-card-actions>
    </div>


</mat-card>